@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  font-family: "Bahnschrift", "Arial", sans-serif;
  background-image: url('assets/background.gif');
  background-size: cover;
  height: 100vh;
  padding: 0;
  margin: 0;
}

#languages {
  margin-top: 10px;
  float: right;
  background-color: gray;
  color: white;
  border: 3px solid transparent;
  transition: border-color 0.2s ease;
}
#languages:hover{
  border-color: white;
}

#Holder {
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgb(1, 1, 1);
}

ul {
  margin: 0;
  padding: 0;
}

#GamesDiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#GamesDiv iframe {
  border: none;
  box-sizing: border-box;
  width: 550px;
  height: 180px;
  margin: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  background-color: rgb(70, 7, 120);
}

li {
  margin: 2%;
  display: inline;
  text-decoration: underline;
  margin-right: 10px;
  color: rgb(218, 194, 237);
}

li:hover {
  text-decoration: rgb(218, 194, 237) double underline;
}

.menuLink {
  color: rgb(218, 194, 237);
}

a {
  text-decoration: none;
  color: white;
}

h2 {
  margin: 0;
}

.Link {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  color: CornflowerBlue;
  text-decoration: underline;
}

.Link:hover {
  text-decoration: CornflowerBlue double underline;
}

#main {
  color: White;
  text-align: left;
}

#Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(74, 74, 45);
  text-align: center;
}

.BlueLink{
  color: blue;
}
.BlueLink:hover{
  text-decoration: underline;
}

.TextTitle{
  font-family: 'Righteous', sans-serif;
  font-size: 36px;
  text-decoration: underline;
  text-align: center;
  color:rgb(121, 199, 132);
}
.bottomMargin {
  margin-bottom: 200px;
}

#ytplayer {
  width: 40%;
  height: 340px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid rgb(2, 29, 13);
  transition: border-color 0.4s ease;
  padding: 10px;
}
#ytplayer:hover{
  border: 3px solid rgb(53, 150, 21) !important;
}